.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 450px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.date-pick-button {
    cursor: pointer;
    border-radius: 10px;
    background-color: yellow;
    margin-top: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
